<div class="search-pop-overlay">
  <div class="popup search-popup" role="dialog" aria-modal="true" aria-label="<%= __('search') %>">
    <div class="search-header">
      <button type="button" class="search-input-field-pre" aria-label="<%= __('search') %>">
        <i class="fa-solid fa-keyboard"></i>
      </button>
      <div class="search-input-container">
        <input autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="<%= __('search') %>" spellcheck="false" type="search" class="search-input">
      </div>
      <button type="button" class="popup-btn-close" aria-label="<%= __('close') %>">
        <i class="fa-solid fa-times"></i>
      </button>
    </div>
    <div id="search-result" aria-live="polite">
      <div id="no-result">
        <i class="fa-solid fa-magnifying-glass fa-5x"></i>
      </div>
    </div>
  </div>
</div>
